src/obj/Debug/netcoreapp2.1/mycode.AssemblyInfo.cs
src/obj/Debug/netcoreapp2.1/mycode.AssemblyInfoInputs.cache
src/obj/Debug/netcoreapp2.1/mycode.RazorAssemblyInfo.cache
src/obj/Debug/netcoreapp2.1/mycode.RazorAssemblyInfo.cs
